* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.linksDiv > a {    
    text-decoration: none;  
    margin: 10px;  
    font-size: 16;
    font-weight: 600;
    color: black;
}
.linksDiv{
    
    text-decoration: none; 
    margin-top: auto;
    margin-bottom: auto;
}
nav {
    display: flex;
    background-color: FFF7ED;
    width: auto;
    justify-content: space-between;
    height: 111px;
    margin-bottom: 0px;
    
}

.navHeader{
    margin-left: 26px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25;
    font-family: Inter;    
    font-weight: 900;
}

.home{
    background-image: url('/public/images/image53.png');
    height: 550px;   
    display: flex;
    flex-direction: column; 
}

.homeTexth1, .homeTextp, .homeButton{
    color: white;
    margin-left: 26px;
    margin-right: 26px;   
    font-display: block; 
}

.homeTexth1{
    padding-top: 65px;
    font-family: Inter;
    font-weight: 800;
    font-size: 35;
    margin-top: 0px;
}

.homeButton{
    background-color: FF8C38;
    width: calc(100% - 54px);
    height: 50px;
    margin-top: 65px;
    border-radius: 5px;
    border: none;   
    cursor: pointer;
}

.footer{
    color: AAAAAA;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;

}

.footer > p{
    margin-top: auto;
    margin-bottom: auto;
}

.aboutImage{
    width: 100%;
}

.aboutMain{
    margin: 26px;
}

.aboutLow{
    margin-top: 55px;
    background-color: FFCC8D;
    height: 200px;
    border: none;
    border-radius: 5px;    
}

.abouth1{
    font-family: Inter;
    font-weight: bold;
    font-size: 32;
}

.abouth2{
    font-family: Inter;
    font-weight: 500;
    font-size: 16;
}

.aboutLow2{
    padding-top: 32px;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 25px;
    font-family: Inter;
    font-weight: bold;
    font-size: 24px;
}

.aboutButton{
    margin-left: 37px;
    width: 175px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter;
    border-radius: 10px;
    cursor: pointer;
}