* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: FFF7ED;
}

.linksDiv > a {    
    text-decoration: none;  
    margin: 10px;  
    font-size: 16;
    font-weight: 600;
    color: black;
}
.linksDiv{
    
    text-decoration: none; 
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}
nav {
    display: flex;
    background-color: FFF7ED;
    width: auto;
    justify-content: space-between;
    height: 111px;
    margin-bottom: 0px;
    
}

.navHeader{
    margin-left: 26px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25;
    font-family: Inter;    
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.home{
    background-image: url('/images/image53.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 550px;   
    display: flex;
    flex-direction: column; 
}

.homeTexth1, .homeTextp, .homeButton{
    color: white;
    margin-left: 26px;
    margin-right: 26px;   
    font-display: block; 
}

.homeTexth1{
    padding-top: 65px;
    font-family: Inter;
    font-weight: 800;
    font-size: 35;
    margin-top: 0px;
}

.homeButton{
    background-color: FF8C38;
    width: calc(100% - 54px);
    height: 50px;
    margin-top: 65px;
    border-radius: 5px;
    border: none;   
    cursor: pointer;
}

.footer{
    color: AAAAAA;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer > p{
    margin-top: auto;
    margin-bottom: auto;
}

.aboutImage{
    width: 100%;
}

.aboutMain{
    margin: 26px;
}

.aboutLow{
    margin-top: 55px;
    background-color: FFCC8D;
    height: 200px;
    border: none;
    border-radius: 5px;    
}

.abouth1{
    font-family: Inter;
    font-weight: bold;
    font-size: 32;
}

.abouth2{
    font-family: Inter;
    font-weight: 500;
    font-size: 16;
}

.aboutLow2{
    padding-top: 32px;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 25px;
    font-family: Inter;
    font-weight: bold;
    font-size: 24px;
}

.aboutButton{
    margin-left: 37px;
    width: 175px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter;
    border-radius: 10px;
    cursor: pointer;
}

.vansFilters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.vansList{
    margin-left: 26px;
    margin-right: 26px;    
}

.vansArray{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
}

.vanCardImg{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.vanCard{
    margin-top: 26px;
}

.vanCardNamePrice{    
    display: flex;
    justify-content: space-between;
}

.vanCardName, .vanCardPrice{
    margin: 0px;
}

.vanCardType{
    
    width: 86px;
    height: 34px;
    display: flex;
    justify-content: center;
    line-height: 34px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    color: white;
}

.filterHeaders{
    width: 104px;
    height: 37px;
    border: none;
    border-radius: 5px;
    background-color: FFEAD0;
    display: flex;
    justify-content: center;
    line-height: 37px;
}

.clearFilters{
    display: flex;
    justify-content: center;
    line-height: 37px;
    text-decoration: underline;
}

.priceColor{
    font-size: 20px;
    font-weight: 600;
}